/* banner */
.banner-productDetail{
	height: 500px;
	background: url('http://www.muscatgrandmall.com/media/2437/men-fashion.jpg?anchor=center&mode=crop&width=1600&height=600&rnd=132032467470000000');
	margin-bottom: 50px;
}
/* container */
.container{
	display: flex;
}
/* hiển thị ảnh sản phẩm */
.detail-item-image{	
	border-top: 1px solid #dcdcdc;
	padding: 0 20px;
	width: 540px;
	background-color: #fafafa;
}
/* hiển thị thông tin sản phẩm */
.detail-item-information{
	border-top: 1px solid #dcdcdc;
	padding: 0 20px;
	width: 600px;
	background-color: #fafafa;
}
/* thông tin giá */
.list-information__h1-title{
	color: red;
}

.list-information__price{
	display: flex;
}

.price__title u{
	font-size: 18px;
	font-weight: 500;
	margin: 0 10px 0 0;
}

.price__ins{
	color: red;
	font-size: 20px;
	letter-spacing: 2px;
}

.price__del{
	color: #c2c2c2;
	font-weight: bold;
}
/* end thông tin giá */
/* thông tin size và số lượng */
.list-information__size__quantity{
	display: flex;
}

.size__choose select{
	width: 140px;
	border-radius: 5px;
}

.quantity__choose select{
	width: 140px;
	border-radius: 5px;
}

.description__title p{
	font-size: 18px;
}

.description__content p{
	font-size: 16px;
}
/* end thông tin size và số lượng */
/* button giỏ hàng */
.list-information__add-cart{
	margin: 0px auto;
}
/* end button giỏ hàng */
.color__choose{
	margin: 0 50px;
}
.color__after{
	width: 12.8px;
	height: 12.8px;
	display: inline-block;
	margin-bottom: 0;

}
.color1{
	background-color: #333;
}

.color2{
	background-color: grey;
}

.padding__list{
	margin: 20px 0px;
}
.padding__item{
	margin: 0px 20px;
}