/* banner */
.banner-productDetail{
	height: 500px;
	background: url('http://www.muscatgrandmall.com/media/2437/men-fashion.jpg?anchor=center&mode=crop&width=1600&height=600&rnd=132032467470000000');
	margin-bottom: 50px;
}
/* container */
.container-productDetail{	
	display: flex;	
	border-bottom: 1px solid #dcdcdc;
	padding: 50px 0 50px 0;
}
/* hiển thị ảnh sản phẩm */
.detail-item-image{
	border-top: 1px solid #dcdcdc;
	padding: 0 20px;
	width: 540px;
	background-color: #fafafa;
}
/* hiển thị thông tin sản phẩm */
.detail-item-information{
	border-top: 1px solid #dcdcdc;
	padding: 0 20px;
	width: 600px;
	background-color: #fafafa;
}
/* thông tin giá */
.list-information__h3-title{
	font-weight: 700;
}

.list-information__price{
	display: flex;
}

.price__title u{
	font-size: 18px;
	font-weight: 500;
	margin: 0 10px 0 0;
}

.price__ins{
	color: red;
	font-size: 20px;
	font-weight: 600;
}

.price__del{
	color: #c2c2c2;
	font-weight: bold;
}
/* end thông tin giá */
/* thông tin size và số lượng */
.list-information__size__quantity{
	display: flex;
}

.size__choose select{
	width: 140px;
	border-radius: 5px;
}

.quantity__choose select{
	width: 140px;
	border-radius: 5px;
}

.description__title p{
	font-size: 18px;
}

.description__content p{
	font-size: 16px;
}
/* end thông tin size và số lượng */
/* button giỏ hàng */
.list-information__add-cart{
	margin: 0px auto;
}
/* end button giỏ hàng */
.color__choose{
	margin: 0 50px;
}
.color__after{
	width: 12.8px;
	height: 12.8px;
	display: inline-block;
	margin-bottom: 0;

}
.color1{
	background-color: #333;
}

.color2{
	background-color: grey;
}

.padding__list{
	margin: 20px 0px;
}
.padding__item{
	margin: 0px 20px;
}

/* sản phẩm cùng loại */
.cotent-related__item{
	width: 100%;
}

.content-related__product{
	/* padding: 6px; */
	display: flex;
	overflow: auto;
	flex-wrap: nowrap;
	width: 100%;
	text-align: center;
}

.content-related__product::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5;
}

.content-related__product::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fab61a;
}

.content-related__product::-webkit-scrollbar-thumb:hover{
	background-color: black;
}

.content-related__product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content-related__product-item{
	width: 400px;
	height: 400px;
	padding: 6px 12px 6px 6px;
}

.product-item__image{
	width: 290px;
	height: 290px;
}

.content-related__product-description{
	
}

.product-description__name{
	font-weight: 700;
	
}

.product-description__price{
	
}

.product-description-price__ins{
	color: red;
	font-weight: 500;
}

.product-description-price__del{
	color: #c2c2c2
}

/* end sản phẩm cùng loại */